@import url(style.css);

body{
    background-image: linear-gradient(rgba(255, 141, 40, 20%),rgba(0, 75, 141, 20%));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 1142px;
    height: 673px;
    border: 2px solid var(--azul-principal);
    display: flex;
}
.sessao-imagem{
    width: 522px;
    height: 673px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sessao-login{
    height: 673px;
    width: 620px;
}

.area-titulo{
    text-align: center;
}

.area-titulo h1, span {
    font-size: 36px;
}

.area-titulo h2 {
    font-size: 24px;
    color: var(--azul-principal);
    fonte-weight: 400;
}